.latuatutor_container {
  background-image: url("background2.svg");
  background-size: 300px 300px;
  background-repeat: repeat;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
