.main_container {
width: 66%;
height: 100%;
/* Inside auto layout */
}

.corpo_centrale {
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
width: 100%;
height: 100%;
/* Inside auto layout */
}


/* PORTFOLIO BOX */

.portfolio_box {
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: baseline;
flex-wrap: wrap;
width: 100%;
height: 100%;
padding: 5px;
/* Inside auto layout */
}

img.portfolio {
width: 50%;
height: 50%;
padding: 5px;
}

/* PORTFOLIO BOX _ END*/

/* INDEX */




/* CV */

h1.qualifica {
font-size: 50px;
color: #5C45B9;
letter-spacing: 0.1em;
font-weight: 900;
}
